<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fashion Recommendation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class="navbar-brand fw-bold fs-2" href="#">.Closet Canvas.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signin">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-primary text-white" href="signup">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="myDiv">
        <font color="white" size="5" align="left">Dress Me Up</font><br><br>
        <h1><center><font color="white" size="7">Personal Outfit Recommendations</font></center></h1>
        <p align="center"><font color="white" size="6">Get outfit and style yourself based on your wardrobe.</font></p><br>
        <center><button><a href="signup"><br> Get Started <br></a></button><br></center><br>
    </div><br><br>
    <div class="hit"><br>
        <h2>How It Works</h2><br>
    </div><br>
    <br>
    <div>
        <center>
        <table>
            <tr>
                <td><h1>1. Add clothes you own to your wardrobe.</h1></td>
                <td><img src="C:\Users\hp\Downloads\sustainable-fashion-isometric-background-with-two-woman-demonstrated-sweatshirt-made-from-recycled-m\a.jpg" height="500" width="500"></td>
            </tr><br>
            <tr>
                <td><img src="C:\Users\hp\Downloads\online-fashion-shopping-collage.jpg" height="500" width="500"></td>
                <td><h1>2. See outfits that you can create right away.</h1></td>
            </tr><br>
            <tr>
                <td><h1>3. See the items that your wardrobe misses.</h1></td>
                <td><img src="C:\Users\hp\Downloads\woman-holding-shirts-choosing-what-outfit-wear.jpg" height="500" width="500"></td>
            </tr>
        </table>
        </center>
    </div><br>
    <br>

    <section class='footer'>
        <nav class="foot">
            <a href="contact">Contact us</a>
            <a href="/site/terms-of-service">Terms of Service</a>
            <a href="/site/privacy-policy">Privacy Policy</a>
            <a href="/site/copyright">Copyright</a>
        </nav>
        <p class='copyright'>
            © 2024 Closet Canvas. All rights reserved.
            </p>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>